<section class="container g-pt-100 g-pb-20">

    <div class="container g-pt-100">

        <div class="row justify-content-center g-mb-60 rec" *ngIf="usuario.VENCIMIENTO >= 0">
            <div class="membership"></div>
            <div class="col-lg-12 text-center">
                <h1 class="text-uppercase mb-2">Active membership up to {{ fecha_fin }}</h1>
                <h1 class="text-uppercase mb-2">Active days {{ usuario.VENCIMIENTO == 0 ? 1 : usuario.VENCIMIENTO }}</h1>
            </div>
            <div class="membership2"></div>
        </div>
        <div class="row justify-content-center g-mb-60">
            <div class="col-lg-7" data-aos="zoom-out">
                <!-- Heading -->
                <div class="text-center">
                    <h2 class="h3 g-color-black text-uppercase mb-2">CHOOSE THE PLAN THAT BEST FITS YOU</h2>
                    <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
                </div>
                <!-- End Heading -->
            </div>
        </div>
        <!-- partial:index.partial.html -->
        <div class="pricing-table-wrapper" data-aos="fade-down">
            <ul class="pricing-table">
                <li class="pricing-table__item" *ngFor="let membresia of membresias;let i = index">
                    <div>
                        <a (click)="SelectMembership(membresia)" class="price-card-nw" style="position: relative; left: 0; top: 0;">
                            <img src="{{ membresia.IMAGEN}}" alt="card-1-month-sub-bmh">
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <!-- partial -->
    </div>

    <div #paypal style="margin-top: 3em; text-align: center;"></div>
</section>
