.rec{
    position: relative;
    background-color: #730073;
    color: white;
    padding: 11px;
}

h1{
    font-size: 165%;
}

.membership{
    width: 0;
    height: 0;
    border-right: 4em solid transparent;
    border-top: 2em solid transparent;
    border-left: 4em solid transparent;
    border-bottom: 2em solid #ffffff;
    position: absolute;
    top: 1.8em;
    left: -2em;
    transform: rotate(90deg);
}

.membership2{
    width: 0;
    height: 0;
    border-right: 4em solid transparent;
    border-top: 2em solid transparent;
    border-left: 4em solid transparent;
    border-bottom: 2em solid #ffffff;
    position: absolute;
    top: 1.8em;
    right: -2em;
    transform: rotate(-90deg);
}

@media (max-width: 425px) {
    .membership, .membership2{
        border-right: 5em solid transparent;
        border-top: 4em solid transparent;
        border-left: 5em solid transparent;
        border-bottom: 2em solid #ffffff;
    }
}