<!-- Sidebar Navigation -->
<div id="js-header" class="u-header u-header--side" data-header-position="left" data-header-breakpoint="lg">
    <div class="u-header__sections-container g-bg-white g-brd-right--lg g-brd-gray-light-v5 g-py-10 g-py-40--lg g-px-14--lg">
        <div class="u-header__section u-header__section--light">
            <nav class="navbar navbar-expand-lg">
                <div class="js-mega-menu container">
                    <!-- Responsive Toggle Button -->
                    <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
                        <span class="hamburger hamburger--slider">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </span>
                    </button>
                    <!-- End Responsive Toggle Button -->
                    <!-- Logo 220x300 px-->
                    <a href="index.html" class="navbar-brand g-mb-40--lg">
                        <img id="nav-logo" src="assets/img/logo/bmh-logo-dark-green-220x250.png" alt="Big Money Hitters Logo">
                    </a>
                    <!-- End Logo -->

                    <!-- Navigation -->
                    <div class="collapse navbar-collapse align-items-center flex-sm-row w-100 g-mt-20 g-mt-0--lg g-mb-40" id="navBar">
                        <ul class="navbar-nav ml-auto text-uppercase g-font-weight-600 u-sub-menu-v1">
                            <li class="nav-item g-my-5" *ngIf="!menu.usuario && menu.pagina == ''">
                                <a (click)="scrollTop()" class="nav-link">Home </a>
                            </li>

                            <li class="nav-item g-my-5" *ngIf="!menu.usuario && menu.pagina != ''">
                                <a [routerLink]="['/']" class="nav-link">Home </a>
                            </li>

                            <li class="nav-item g-my-5" *ngIf="!menu.usuario && menu.pagina == ''">
                                <a (click)="scrollTo('#who-section')" class="nav-link">Who we are </a>
                            </li>

                            <li class="nav-item g-my-5" *ngIf="!menu.usuario && menu.pagina == ''">
                                <a (click)="scrollTo('#how-section')" class="nav-link">How it works </a>
                            </li>

                            <li class="nav-item g-my-5" *ngIf="!menu.usuario && menu.pagina == ''">
                                <a (click)="scrollTo('#price-section')" class="nav-link">Prices </a>
                            </li>

                            <li class="nav-item g-my-5" *ngIf="menu.usuario">
                                <a [routerLink]="['/picks']" class="nav-link">Picks </a>
                            </li>

                            <li class="nav-item g-my-5" *ngIf="menu.usuario">
                                <a [routerLink]="['/account']" class="nav-link">My account </a>
                            </li>

                            <!-- <li class="nav-item g-my-5" *ngIf="menu.usuario">
                                <a [routerLink]="['/support']" class="nav-link">Support </a>
                            </li> -->

                            <li class="nav-item g-my-5">
                                <a [routerLink]="['/frecuency-questions']" class="nav-link">F.A.Q. </a>
                            </li>

                            <li class="nav-item g-my-5" *ngIf="menu.usuario">
                                <a (click)="logout()" class="nav-link">Log out </a>
                            </li>

                            <li class="nav-item g-my-5" *ngIf="!menu.usuario && menu.pagina != '/login'">
                                <a [routerLink]="['/login']" class="btn btn-md   g-font-weight-600 g-letter-spacing-0_5 text-uppercase g-brd-2  g-mr-10 g-mb-15 u-btn-outline-gradient-v1"> Get Picks
                                    <i class="fa fa-check-circle g-ml-3"></i>
                                </a>
                            </li>

                        </ul>
                    </div>
                    <!-- End Navigation -->

                    <div class="text-center g-hidden-lg-down">
                        <ul class="list-inline g-mb-10">
                            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram">
                                <a target="_blank" href="https://www.instagram.com/bigmoneyhitters/" class="g-color-main g-color-primary--hover">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="" data-original-title="Android">
                                <a target="_blank" href="https://play.google.com/store/apps/details?id=com.bigmoney.app" class="g-color-main g-color-primary--hover">
                                    <i class="fa fa-android"></i>
                                </a>
                            </li>
                            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="" data-original-title="Apple">
                                <a target="_blank" href="https://apps.apple.com/mx/app/big-money-hitters/id1502285672" class="g-color-main g-color-primary--hover">
                                    <i class="fa fa-apple"></i>
                                </a>
                            </li>
                        </ul>
                        <p class="mb-0">2020 &copy; All Rights Reserved.</p>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- End Sidebar Navigation -->