<main>

    <!-- Start Loader -->
    <div id="loading">
        <img src="assets/img/diamond-icon.png" alt="diamond-loader">
         <p>Loading...</p>
     </div>

    <app-menu></app-menu>

    <router-outlet (activate)="onActivate($event)"></router-outlet>

    <app-footer></app-footer>

    <a class="js-go-to u-go-to-v1" href="#" data-type="fixed" data-position='{
        "bottom": 15,
        "right": 15
        }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
            <i class="hs-icon hs-icon-arrow-top"></i>
    </a>

</main>