<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="mb-2">
            &nbsp;
        </div>
        <div class="overlay" *ngIf="!history"><i class="fas fa-2x fa-sync-alt fa-spin"></i></div>
        <!-- Timelime example  -->
        <div class="row" *ngIf="history && history.length > 0; else elseBlock">
            <div class="col-md-12">
                <!-- The time line -->
                <div class="timeline">
                    <!-- timeline item -->
                    <div *ngFor="let pago of history">
                        <i class="far fa-credit-card  bg-blue"></i>
                        <div class="timeline-item">
                            <span class="time"><i class="fas fa-calendar"></i> {{ getFecha(pago.FECHA_CONTRATACION) }}</span>
                            <h3 class="timeline-header">{{ pago.NOMBRE }}</h3>

                            <div class="timeline-body">
                                <P class="text-primary">{{ pago.NOMBRE_MEMBRESIA_INGLES }}</P>
                                <P>{{ getFecha(pago.FECHA_INICIO) }} - {{ getFecha(pago.VENCIMIENTO) }}</P>
                                <p> {{ pago.NOMBRE_METODO_PAGO }} </p>

                            </div>
                        </div>
                    </div>
                    <!-- END timeline item -->
                   
                </div>
            </div>
            <!-- /.col -->
        </div>
    </div>
    <!-- /.timeline -->

    <ng-template #elseBlock>
        <h3>
            This user hasn´t contracted memberships.
        </h3>
    </ng-template>

</section>
<!-- /.content -->