<!-- Start FAQ -->
<section class="g-bg-gray-gradient-opacity-v1">
    <div class="container g-py-100">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <!-- Heading -->
                <div class="text-center g-mb-60">
                    <div class="d-inline-block g-width-35 g-height-1 g-bg-primary mb-2"></div>
                    <h2 class="g-color-black g-font-weight-600 mb-2">Frequently Asked Questions</h2>
                    <p class="lead g-width-60x--md mx-auto">We aim high at being focused on building relationships with our clients and community.</p>
                </div>
                <!-- End Heading -->

                <div id="accordion" class="u-accordion u-accordion-color-primary">
                    <!-- Card -->
                    <div class="card g-brd-none rounded g-mb-20">
                        <div id="accordion-heading-01" class="g-pa-0">
                            <h5 class="mb-0">
                                <a id="link-01" class="accordion-link d-flex justify-content-between u-shadow-v19 g-color-main g-text-underline--none--hover rounded g-px-30 g-py-20" aria-expanded="false" (click)="openAccordion('01')">
                                    What are sports picks?
                                    <span class="u-accordion__control-icon g-color-primary">
                                        <i class="fa fa-angle-down"></i>
                                        <i class="fa fa-angle-up"></i>
                                    </span>
                                </a>
                            </h5>
                        </div>
                        <div id="accordion-body-01" class="body-collapse collapse">
                            <div class="u-accordion__body g-color-gray-dark-v4 g-pa-30">
                                Sports picks are betting tips given to amateur sports bettors by professional sports handicappers. These sports picks are used by bettors to try and make money betting on sporting events. They are a bad idea for the most part, but they can be useful in certain situations.
                            </div>
                        </div>
                    </div>
                    <!-- End Card -->

                    <!-- Card -->
                    <div class="card g-brd-none rounded g-mb-20">
                        <div id="accordion-heading-02" class="g-pa-0">
                            <h5 class="mb-0">
                                <a id="link-02" class="accordion-link d-flex justify-content-between u-shadow-v19 g-color-main g-text-underline--none--hover rounded g-px-30 g-py-20" (click)="openAccordion('02')" aria-expanded="false">
                                    When Should I Buy Picks?
                                    <span class="u-accordion__control-icon g-color-primary">
                                        <i class="fa fa-angle-down"></i>
                                        <i class="fa fa-angle-up"></i>
                                    </span>
                                </a>
                            </h5>
                        </div>
                        <div id="accordion-body-02" class="body-collapse collapse">
                            <div class="u-accordion__body g-color-gray-dark-v4 g-pa-30">
                                When purchasing picks you need to find services that are either low cost, proven and tracked with high win rate, or of course best of all – both. The more money you spend on a picks service the higher winning percentage the handicapper will need to hit in order for you to make a profit.
                            </div>
                        </div>
                    </div>
                    <!-- End Card -->

                    <!-- Card -->
                    <div class="card g-brd-none rounded g-mb-20">
                        <div id="accordion-heading-03" class="g-pa-0">
                            <h5 class="mb-0">
                                <a id="link-03" class="accordion-link d-flex justify-content-between u-shadow-v19 g-color-main g-text-underline--none--hover rounded g-px-30 g-py-20" (click)="openAccordion('03')" aria-expanded="false">
                                    What sport is the easiest to bet on?
                                    <span class="u-accordion__control-icon g-color-primary">
                                        <i class="fa fa-angle-down"></i>
                                        <i class="fa fa-angle-up"></i>
                                    </span>
                                </a>
                            </h5>
                        </div>
                        <div id="accordion-body-03" class="body-collapse collapse">
                            <div class="u-accordion__body g-color-gray-dark-v4 g-pa-30">
                                <strong>Football</strong> <br>
                                Football is one of the easiest sports to bet on and probably the most popular sport on Earth and bookmakers take an incredible number of bets on it every year. For this reason, bookmakers take an incredible number of bets on it every year.
                            </div>
                        </div>
                    </div>
                    <!-- End Card -->

                    <!-- Card -->
                    <div class="card g-brd-none rounded g-mb-20">
                        <div id="accordion-heading-04" class="g-pa-0">
                            <h5 class="mb-0">
                                <a id="link-04" class="accordion-link d-flex justify-content-between u-shadow-v19 g-color-main g-text-underline--none--hover rounded g-px-30 g-py-20" (click)="openAccordion('04')" aria-expanded="false">
                                    Is sports handicapping legal?
                                    <span class="u-accordion__control-icon g-color-primary">
                                        <i class="fa fa-angle-down"></i>
                                        <i class="fa fa-angle-up"></i>
                                    </span>
                                </a>
                            </h5>
                        </div>
                        <div id="accordion-body-04" class="body-collapse collapse">
                            <div class="u-accordion__body g-color-gray-dark-v4 g-pa-30">
                                On May 14, 2018, the United States Supreme Court found the Professional and Amateur Sports Protection Act (PASPA), the federal law prohibiting states from authorizing sports betting, to be unconstitutional. It is now up to individual states to decide if they want to authorize and regulate sports betting in their state.
                            </div>
                        </div>
                    </div>
                    <!-- End Card -->

                    <!-- Card -->
                    <div class="card g-brd-none rounded g-mb-20">
                        <div id="accordion-heading-05" class="g-pa-0">
                            <h5 class="mb-0">
                                <a id="link-05" class="accordion-link d-flex justify-content-between u-shadow-v19 g-color-main g-text-underline--none--hover rounded g-px-30 g-py-20" (click)="openAccordion('05')" aria-expanded="false">
                                    How accurate are sports predictions?
                                    <span class="u-accordion__control-icon g-color-primary">
                                        <i class="fa fa-angle-down"></i>
                                        <i class="fa fa-angle-up"></i>
                                    </span>
                                </a>
                            </h5>
                        </div>
                        <div id="accordion-body-05" class="body-collapse collapse">
                            <div class="u-accordion__body g-color-gray-dark-v4 g-pa-30">
                                The accuracy is not the most important thing when it comes to sports predictions. The most important thing when evaluating a sports prediction service is to look at their ROI. You see there is no correlation at all between ROI and win rate. You can have a 20% win rate and a 100% ROI.
                            </div>
                        </div>
                    </div>
                    <!-- End Card -->

                    <!-- Card -->
                    <div class="card g-brd-none rounded g-mb-20">
                        <div id="accordion-heading-06" class="g-pa-0">
                            <h5 class="mb-0">
                                <a id="link-06" class="accordion-link d-flex justify-content-between u-shadow-v19 g-color-main g-text-underline--none--hover rounded g-px-30 g-py-20" (click)="openAccordion('06')" aria-expanded="false">
                                    Is Big Money Hitters premium Picks worth the money?
                                    <span class="u-accordion__control-icon g-color-primary">
                                        <i class="fa fa-angle-down"></i>
                                        <i class="fa fa-angle-up"></i>
                                    </span>
                                </a>
                            </h5>
                        </div>
                        <div id="accordion-body-06" class="body-collapse collapse">
                            <div class="u-accordion__body g-color-gray-dark-v4 g-pa-30">
                                " It's worth every penny! Big Money Hitters is the best per month subscription service you'll spend. Thanks to the experts and in app chat support, I won most of my early games!" - Client of Big Money Hitters
                            </div>
                        </div>
                    </div>
                    <!-- End Card -->

                    <!-- Card -->
                    <div class="card g-brd-none rounded g-mb-20">
                        <div id="accordion-heading-07" class="g-pa-0">
                            <h5 class="mb-0">
                                <a id="link-07" class="accordion-link d-flex justify-content-between u-shadow-v19 g-color-main g-text-underline--none--hover rounded g-px-30 g-py-20" (click)="openAccordion('07')" aria-expanded="false">
                                    How do sports bets work?
                                    <span class="u-accordion__control-icon g-color-primary">
                                        <i class="fa fa-angle-down"></i>
                                        <i class="fa fa-angle-up"></i>
                                    </span>
                                </a>
                            </h5>
                        </div>
                        <div id="accordion-body-07" class="body-collapse collapse">
                            <div class="u-accordion__body g-color-gray-dark-v4 g-pa-30">
                                Sports betting is what it sounds like. You place a bet on a sporting event and win a set amount of money if the team or player you bet on wins. If the team or player you bet on doesn't win you lose your bet. You can place a wide range of different bets and find many different places to bet and ways to make the bets.Jul 27, 2017

                            </div>
                        </div>
                    </div>
                    <!-- End Card -->

                    <!-- Card -->
                    <div class="card g-brd-none rounded g-mb-20">
                        <div id="accordion-heading-08" class="g-pa-0">
                            <h5 class="mb-0">
                                <a id="link-08" class="accordion-link d-flex justify-content-between u-shadow-v19 g-color-main g-text-underline--none--hover rounded g-px-30 g-py-20" (click)="openAccordion('08')" aria-expanded="false">
                                    What do sports odds mean?
                                    <span class="u-accordion__control-icon g-color-primary">
                                        <i class="fa fa-angle-down"></i>
                                        <i class="fa fa-angle-up"></i>
                                    </span>
                                </a>
                            </h5>
                        </div>
                        <div id="accordion-body-08" class="body-collapse collapse">
                            <div class="u-accordion__body g-color-gray-dark-v4 g-pa-30">
                                What are Odds? Odds represent the likelihood of an outcome occurring. In sports betting, each team is assigned odds that represent the likelihood of them winning the game. When the odds for two teams are even, meaning 1 to 1, it means that each team is equally as likely to win the game.

                            </div>
                        </div>
                    </div>
                    <!-- End Card -->

                    <!-- Card -->
                    <div class="card g-brd-none rounded g-mb-20">
                        <div id="accordion-heading-09" class="g-pa-0">
                            <h5 class="mb-0">
                                <a id="link-09" class="accordion-link d-flex justify-content-between u-shadow-v19 g-color-main g-text-underline--none--hover rounded g-px-30 g-py-20" (click)="openAccordion('09')" aria-expanded="false">
                                    Which sport is most profitable?
                                    <span class="u-accordion__control-icon g-color-primary">
                                        <i class="fa fa-angle-down"></i>
                                        <i class="fa fa-angle-up"></i>
                                    </span>
                                </a>
                            </h5>
                        </div>
                        <div id="accordion-body-09" class="body-collapse collapse">
                            <div class="u-accordion__body g-color-gray-dark-v4 g-pa-30">
                                <strong>American football</strong> <br>
                                1. National Football League (NFL) — $13 Billion. European football is by far the most popular sport in the world. However, American football is the most profitable.
                            </div>
                        </div>
                    </div>
                    <!-- End Card -->


                </div>
            </div>
        </div>
    </div>
</section>
<!-- End FAQ -->