<!-- Promo Block -->
<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall " data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "150"}'>
    <!--<div class="divimage dzsparallaxer--target w-100 g-bg-pos-bottom-center" style="height: auto; background-color: #69349c;"></div>-->

    <div class="divimage dzsparallaxer--target w-100 g-bg-pos-bottom-center" style="height: 120%; background-image: url(assets/img/hero/bg-5.png);"></div>

    <div class="container pt-11rem ">
        <div class="row">
            <div id="hero-text-box" class="col-md-6" data-aos="fade-right" data-aos-delay="1000">
                <h3 class="g-color-white g-font-weight-300 g-font-size-40 g-line-height-1_2 mb-4">GET THE BEST SPORT PICKS</h3>

                <span class="d-block g-color-white-opacity-0_8 g-font-size-30 mb-5">Stats, odds, &amp; matchups <br>directly to your phone</span>

                <div>
                    <a href="https://play.google.com/store/apps/details?id=com.bigmoney.app" target="_blank">
                        <img class=" ms-layer" src="assets/img/hero/google-play-badge.png" alt="download on app store buton">
                    </a>
                    <a href="https://apps.apple.com/mx/app/big-money-hitters/id1502285672" target="_blank">
                        <img class=" ms-layer" src="assets/img/hero/apple-itunes-badge.png" alt="download on app google play buton">
                    </a>
                </div>

                <a [routerLink]="['/login']" class="btn  u-btn-primary u-btn-content g-font-weight-600 g-letter-spacing-0_5 text-uppercase g-brd-2 g-mr-10 g-mb-15   btn-xxl u-btn-blue u-btn-content g-letter-spacing-0_5 u-btn-3d g-mr-10 g-mb-15">
                    <i class="fa fa-desktop pull-left g-font-size-42 g-mr-15"></i>
                    <span class="float-right text-left">
                        <span class="d-block g-font-size-11">ALSO AVAILABLE IN WEB</span>
                        GET PICKS NOW
                    </span>
                </a>
            </div>

            <div class="col-md-6 g-hidden-xs-down" id="mobile-phone-box">
                <div id="mobile-phone-mockup" style="" data-aos="fade-up" data-aos-delay="1200">
                    <img class="mockup" src="assets/img/mobile.png" alt="bmh mockup cellphone">
                    <img class="pantallas" src="assets/img/hero/mockup-v2.gif" alt="BMH app gif">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Promo Block -->

<!-- Start who we are -->
<section id="who-section" class="container g-pt-100 g-pb-40">
    <div class="row">
        <div class="col-lg-6 g-mb-60 pl-50">
            <div class="mb-4">
                <h2 class="h3 text-uppercase mb-3">WE ARE YOUR Professional Sports Betting Consultants</h2>
                <div class="g-width-60 g-height-1 g-bg-black"></div>
            </div>
            <div class="mb-5">
                <p>Hitting above 60% get the best picks of all mayor professional sports. Choose the package that better fits your needs. 24 hour support chat included.</p>

            </div>
            <a id="androind-cta-link" target="_blank" href="https://play.google.com/store/apps/details?id=com.bigmoney.app">
                <img id="androind-cta-img" src="assets/img/hero/google-play-badge.png" alt="download-android-app" />
            </a>

            <a href="https://apps.apple.com/mx/app/big-money-hitters/id1502285672" target="_blank">
                <img class=" ms-layer" src="assets/img/hero/apple-itunes-badge.png" alt="download on app google play buton">
            </a>
            <br>
            <a [routerLink]="['/login']" class="btn btn-md u-btn-3d u-btn-darkpurple g-mr-10 g-mb-15">GET PICKS IN WEB</a>
        </div>

        <div class=" g-hidden-xs-down col-lg-6 g-mb-60">
            <div class="item" data-aos="zoom-out">
                <img id="about-us-logo" class="w-100" src="assets/img/Imagen500x300-01.png" alt="Image Description">
            </div>
        </div>
    </div>
</section>
<!-- END who we are -->

<!-- Start how it works -->
<section id="how-section" class="g-bg-secondary">
    <div class="container g-pt-100 g-pb-40">
        <div class="row justify-content-center g-mb-60">
            <div class="col-lg-7">
                <!-- Heading -->
                <div class="text-center" data-aos="zoom-out">
                    <h2 class="h3 g-color-black text-uppercase mb-2">THIS IS HOW WE DO IT</h2>
                    <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
                    <p class="lead mb-0">In order to have legitimate wins over an extended period of time you need to put in some heavy research and combine it with experience intuition.</p>
                </div>
                <!-- End Heading -->
            </div>
        </div>

        <!-- Static Process -->
        <div class="row g-hidden-xs-down">
            <div class="col-sm-6 col-lg-3 g-mb-60" data-aos="fade-right">
                <!-- Static Process -->
                <div class="text-center">
                    <i class="u-dot-line-v1-2 g-brd-transparent--before g-brd-gray-light-v2--after g-mb-20">
                        <span class="u-dot-line-v1__inner g-bg-white g-bg-primary--before g-brd-gray-light-v2"></span>
                    </i>
                    <h3 class="h5 g-color-black mb-20">Reasearch</h3>
                    <p class="mb-0"></p>
                </div>
                <!-- End Static Process -->
            </div>

            <div class="col-sm-6 col-lg-3 g-mb-60" data-aos="fade-right">
                <!-- Static Process -->
                <div class="text-center">
                    <i class="u-dot-line-v1-2 g-brd-gray-light-v2--before g-brd-gray-light-v2--after g-mb-20">
                        <span class="u-dot-line-v1__inner g-bg-white g-bg-primary--before g-brd-gray-light-v2"></span>
                    </i>
                    <h3 class="h5 g-color-black mb-20">Consult</h3>
                    <p class="mb-0"></p>
                </div>
                <!-- End Static Process -->
            </div>

            <div class="col-sm-6 col-lg-3 g-mb-60" data-aos="fade-right">
                <!-- Static Process -->
                <div class="text-center">
                    <i class="u-dot-line-v1-2 g-brd-gray-light-v2--before g-brd-gray-light-v2--after g-mb-20">
                        <span class="u-dot-line-v1__inner g-bg-white g-bg-primary--before g-brd-gray-light-v2"></span>
                    </i>
                    <h3 class="h5 g-color-black mb-20">Forecast</h3>
                    <p class="mb-0"></p>
                </div>
                <!-- End Static Process -->
            </div>

            <div class="col-sm-6 col-lg-3 g-mb-60" data-aos="fade-right">
                <!-- Static Process -->
                <div class="text-center">
                    <i class="u-dot-line-v1-2 g-brd-gray-light-v2--before g-brd-transparent--after g-mb-20">
                        <span class="u-dot-line-v1__inner g-bg-white g-bg-primary--before g-brd-gray-light-v2"></span>
                    </i>
                    <h3 class="h5 g-color-black mb-20">Release</h3>
                    <p class="mb-0"></p>
                </div>
                <!-- End Static Process -->
            </div>
        </div>
        <!-- End Static Process -->
    </div>
</section>
<!-- END how it works -->

<!-- Start Steps 4 -->
<section id="steps" class="steps steps-area">
    <div class="container">

        <div class="row justify-content-center g-mb-60" data-aos="zoom-out">
            <div class="col-lg-7">
                <!-- Heading -->
                <div class="text-center">
                    <h2 class="h3 g-color-black text-uppercase mb-2">GET WINNING PICKS</h2>
                    <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
                    <p class="lead mb-0">IN 4 EASY STEPS</p>
                </div>
                <!-- End Heading -->
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <!-- title-section -->
                <ul class="timeline" data-aos="fade-down">
                    <li class="timeline-box wow fadeInLeft">
                        <p class="timeline-title">STEP 1</p>
                        <p class="timeline-details">Sign up to Big Money Hitters for your account. </p>
                        <span>1</span>
                    </li>
                    <li class="timeline-box wow fadeInRight">
                        <p class="timeline-title">STEP 2</p>
                        <p class="timeline-details">Choose a subscription plan that best fits you. </p>
                        <span>2</span>
                    </li>
                    <li class="timeline-box  wow fadeInLeft">
                        <p class="timeline-title">STEP 3</p>
                        <p class="timeline-details">Consult our premium picks through this website or download our Android or IOS App to check them on the go.</p>
                        <span>3</span>
                    </li>
                    <li class="timeline-box wow fadeInRight">
                        <p class="timeline-title">STEP 4</p>
                        <p class="timeline-details">Start getting Winning Picks and hitting it Big. </p>
                        <span>4</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- .container -->
</section>
<!-- End Steps 4 -->

<!-- Start Price Table -->
<section id="price-section">
    <div class="container g-pt-100">

        <div class="row justify-content-center g-mb-60">
            <div class="col-lg-7" data-aos="zoom-out">
                <!-- Heading -->
                <div class="text-center">
                    <h2 class="h3 g-color-black text-uppercase mb-2">CHOOSE THE PLAN THAT BEST FITS YOU</h2>
                    <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
                </div>
                <!-- End Heading -->
            </div>
        </div>
        <!-- partial:index.partial.html -->
        <div class="pricing-table-wrapper" data-aos="fade-down">
            <ul class="pricing-table">
                <li class="pricing-table__item">
                    <div>
                        <a [routerLink]="['/login']" class="price-card-nw" style="position: relative; left: 0; top: 0;">
                            <img src="assets/img/cards/one-day.png" alt="card-1-month-sub-bmh">
                        </a>
                    </div>
                </li>
                <li class="pricing-table__item">
                    <a [routerLink]="['/login']" class="price-card-nw">
                        <img src="assets/img/cards/one-week.png" alt="card-1-week-sub-bmh">
                    </a>
                </li>
                <li class="pricing-table__item">
                    <a [routerLink]="['/login']" class="price-card-nw" style="position: relative; left: 0; top: 0;">
                        <img src="assets/img/cards/one-month.png" alt="card-1-month-sub-bmh">
                    </a>
                </li>
            </ul>
        </div>
        <!-- partial -->
    </div>
</section>
<!-- End Price Table -->