<section class="content">
    <div class="container-fluid">
        <div class="mb-2">
            &nbsp;
        </div>

        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title">PICKS</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="card-refresh" data-source="widgets.html" data-source-selector="#card-refresh-content" data-load-on-init="false" (click)="refresh()"><i class="fas fa-sync-alt"></i></button>
                    <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                </div>
                <!-- /.card-tools -->
            </div>
            <div class="overlay" *ngIf="load"><i class="fas fa-2x fa-sync-alt fa-spin"></i></div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="card-body table-responsive p-0">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover text-nowrap">
                        <thead>
                            <tr>
                              <th>TITULO</th>
                              <th>DESCRIPCION</th>
                              <th>FECHA</th>
                              <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pick of picks">
                                <td>{{ pick.TITULO }}</td>
                                <td [innerHTML]="pick.DESCRIPCION"></td>
                                <td>{{getFecha(pick.FECHA)}}</td>
                                <td>
                                    <a class="text-primary" (click)="editPick(pick.ID_PICKS)">
                                        <i class="fa fa-pencil-alt"></i>
                                    </a>
                                    &nbsp;
                                    <a class="text-danger" (click)="deletePick(pick.ID_PICKS)">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</section>