/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1024px) and (max-width: 1280px) {}

@media all and (min-width: 768px) and (max-width: 1024px) {}

@media all and (min-width: 480px) and (max-width: 768px) {


    img.u-header__logo-img.u-header__logo-img--main {
        height: 40px;
    }

    #purple-bg {
        background-color: #69349c;
        height: 80px;
    }

    .u-header__section.u-header__section--dark.g-py-10 nav.navbar.navbar-expand-lg .container #navBar ul#js-scroll-nav {
        background-color: #333333e8;
    }

    ul#js-scroll-nav {

        padding: 10px;
    }

    .u-header__section--dark .navbar-nav:not([class*="u-main-nav-v"]) .nav-link,
    .u-header__section--dark--shift.js-header-change-moment .navbar-nav:not([class*="u-main-nav-v"]) .nav-link,
    .u-header__section--primary .navbar-nav:not([class*="u-main-nav-v"]) .nav-link,
    .u-header__section--primary--shift.js-header-change-moment .navbar-nav:not([class*="u-main-nav-v"]) .nav-link {
        color: #fff;
    }

    #loading p {

        left: 33%;

    }

    img#nav-logo {
        height: 60px;
    }

    span.d-block.g-color-white-opacity-0_8.g-font-size-30.mb-5 {
        font-size: 20px !important;
    }

    .pt-11rem {
        padding-top: 2.28571rem;
        padding-bottom: 2rem;
    }
    div#loading img {
    height: 200px;
    position: fixed;
    top: 43%;
    left: 20%;
}

}

@media all and (max-width: 480px) {



    img.u-header__logo-img.u-header__logo-img--main {
        height: 40px;
    }

    #purple-bg {
        background-color: #69349c;
        height: 80px;
    }

    .u-header__section.u-header__section--dark.g-py-10 nav.navbar.navbar-expand-lg .container #navBar ul#js-scroll-nav {
        background-color: #333333e8;
    }

    ul#js-scroll-nav {

        padding: 10px;
    }

    .u-header__section--dark .navbar-nav:not([class*="u-main-nav-v"]) .nav-link,
    .u-header__section--dark--shift.js-header-change-moment .navbar-nav:not([class*="u-main-nav-v"]) .nav-link,
    .u-header__section--primary .navbar-nav:not([class*="u-main-nav-v"]) .nav-link,
    .u-header__section--primary--shift.js-header-change-moment .navbar-nav:not([class*="u-main-nav-v"]) .nav-link {
        color: #fff;
    }

    #loading p {

        left: 33%;

    }

    img#nav-logo {
        height: 60px;
    }

    span.d-block.g-color-white-opacity-0_8.g-font-size-30.mb-5 {
        font-size: 20px !important;
    }

    .pt-11rem {
        padding-top: 2.28571rem;
        padding-bottom: 2rem;
    }
    div#loading img {
    height: 200px;
    position: fixed;
    top: 43%;
    left: 20%;
}

}

/*------------------------------------------
  Foundation Media Queries 
   http://foundation.zurb.com/docs/media-queries.html
--------------------------------------------*/

/* Small screens - MOBILE */
@media only screen {}

/* Define mobile styles - Mobile First */

@media only screen and (max-width: 40em) {}

/* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens - TABLET */
@media only screen and (min-width: 40.063em) {}

/* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {}

/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* Large screens - DESKTOP */
@media only screen and (min-width: 64.063em) {}

/* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {}

/* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */

/* XLarge screens */
@media only screen and (min-width: 90.063em) {}

/* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) {}

/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/* XXLarge screens */
@media only screen and (min-width: 120.063em) {}

/* min-width 1921px, xlarge screens */

/*------------------------------------------*/



/* Portrait */
@media screen and (orientation:portrait) {
    /* Portrait styles here */
}

/* Landscape */
@media screen and (orientation:landscape) {
    /* Landscape styles here */
}


/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {}

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) {}

/*------------------------------------
  Block Hidden
------------------------------------*/
.g-hidden-xs-up {
    display: none !important;
}

@media (max-width: 575px) {
    .g-hidden-xs-down {
        display: none !important;
    }
}

@media (min-width: 576px) {
    .g-hidden-sm-up {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .g-hidden-sm-down {
        display: none !important;
    }
}

@media (min-width: 768px) {
    .g-hidden-md-up {
        display: none !important;
    }
}

@media (max-width: 991px) {
    .g-hidden-md-down {
        display: none !important;
    }
}

@media (min-width: 992px) {
    .g-hidden-lg-up {
        display: none !important;
    }
}

@media (max-width: 1199px) {
    .g-hidden-lg-down {
        display: none !important;
    }
}

@media (min-width: 1200px) {
    .g-hidden-xl-up {
        display: none !important;
    }
}

.g-hidden-xl-down {
    display: none !important;
}

<meta name="viewport"content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/ >
