<!-- Start Picks timeline -->
<section class="g-py-100">
    <div class="container">
        <div class="text-center g-mb-50">
            <h2 class="h4">
                <span class="g-color-primary g-ml-5">BIG MONEY HITTERS</span>
                <br>PICKS {{ datetime }}
            </h2>
        </div>

        <!-- Timeline Box -->
        <ul class="row u-timeline-v2-wrap list-unstyled">
            <li class="col-md-12 g-mb-40" *ngFor="let pick of picks">
                <div class="row">
                    <!-- Timeline Date -->
                    <div class="col-md-3 text-md-right g-pt-20--md g-pr-40--md g-mb-20">
                        <h5 class="h6 mb-0">{{ formatDatePick(pick.FECHA) }}</h5>
                        <h4 class="h5">{{ formatMonthPick(pick.FECHA) }}</h4>
                    </div>
                    <!-- End Timeline Date -->

                    <!-- Timeline Content -->
                    <div class="col-md-9 g-orientation-left g-pl-40--md">
                        <!-- Timeline Dot -->
                        <div class="g-hidden-sm-down u-timeline-v2__icon g-top-35">
                            <i class="d-block g-width-18 g-height-18 g-bg-white g-brd-around g-brd-3 g-brd-gray-light-v5 rounded-circle"></i>
                        </div>
                        <!-- End Timeline Dot -->

                        <article class="g-pos-rel g-bg-gray-light-v5 g-pa-30">
                            <!-- Timeline Arrow -->
                            <div class="g-hidden-sm-down u-triangle-inclusive-v1--right g-top-30 g-z-index-2">
                                <div class="u-triangle-inclusive-v1--right__back g-brd-gray-light-v5-right"></div>
                            </div>
                            <div class="g-hidden-md-up u-triangle-inclusive-v1--top g-left-20 g-z-index-2">
                                <div class="u-triangle-inclusive-v1--top__back g-brd-gray-light-v5-bottom"></div>
                            </div>
                            <!-- End Timeline Arrow -->

                            <header class="g-brd-bottom g-brd-gray-light-v4 g-pb-10 g-mb-25">
                                <h3 class="g-font-weight-300">{{ pick.TITULO }}</h3>
                            </header>

                            <div class="row">
                                
                                <div class="col-md-12" [innerHTML]="pick.DESCRIPCION">
                                </div>
                            </div>
                        </article>
                    </div>
                    <!-- End Timeline Content -->
                </div>
            </li>
        </ul>
        <!-- End Timeline Box -->
    </div>
</section>
<!-- End Picks timeline -->