<!-- Start Login -->
<section class="container g-pt-100 g-pb-20">
    <div class="row justify-content-between">
        <div class="col-md-6 col-lg-5 flex-md-unordered g-mb-80">
            <div class="g-brd-around g-brd-gray-light-v3 g-bg-white rounded g-px-30 g-py-50 mb-4">
                <header class="text-center mb-4">
                    <h1 class="h3 g-color-black g-font-weight-300 text-capitalize">Login to your account</h1>
                </header>

                <!-- Form -->
                <form class="g-py-15" [formGroup]="loginForm" (ngSubmit)="saveData()" role="form">
                    <div class="mb-4">
                        <div class="input-group g-brd-primary--focus">
                            <div class="input-group-prepend">
                                <span class="input-group-text g-width-45 g-brd-right-none g-brd-gray-light-v3 g-color-gray-dark-v5"><i class=" icon-communication-025 u-line-icon-pro"></i></span>
                            </div>
                            <input class="form-control g-color-black g-brd-gray-light-v3 g-py-15 g-px-15" type="email" formControlName="EMAIL" placeholder="Email Adress">
                        </div>
                    </div>

                    <div class="mb-4">
                        <div class="input-group g-brd-primary--focus mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text g-width-45 g-brd-right-none g-brd-gray-light-v3 g-color-gray-dark-v5"><i class="icon-media-094 u-line-icon-pro"></i></span>
                            </div>
                            <input class="form-control g-color-black g-brd-gray-light-v3 g-py-15 g-px-15" type="password" formControlName="CONTRASENA" placeholder="Password">
                        </div>
                    </div>

                    <p class="text-danger" *ngIf="error">Usuario y/o contraseña no valido</p>

                    <div class="row justify-content-between mb-4">
                        <div class="col align-self-center">
                        </div>
                        <div class="col align-self-center text-right">
                            <a class="g-font-size-13" href="password-recovery.html">Forgot password?</a>
                        </div>
                    </div>

                    <div class="mb-5">
                        <button type="submit" class="btn btn-block g-py-13 btn btn-block btn-md g-mb-15 g-mr-10 g-py-13 u-btn-3d u-btn-darkpurple" [disabled]="loginForm.invalid || false">Login</button>
                    </div>

                    <div class="d-flex justify-content-center text-center g-mb-30">
                        <div class="d-inline-block align-self-center g-width-50 g-height-1 g-bg-gray-light-v1"></div>
                        <span class="align-self-center g-color-gray-dark-v5 mx-4">OR</span>
                        <div class="d-inline-block align-self-center g-width-50 g-height-1 g-bg-gray-light-v1"></div>
                    </div>

                    <div class="text-center">
                        <p class="g-color-gray-dark-v5 mb-0">Don't have an account? <a class="g-font-weight-600" [routerLink]="['/register']">signup</a>
                        </p>
                    </div>

                </form>
                <!-- End Form -->
            </div>


        </div>

        <div class="col-md-6 flex-md-first g-mb-80">
            <div class="mb-5">
                <h2 class="h1 g-font-weight-300 mb-3">Welcome to Big Money Hitters</h2>
                <p class="g-color-gray-dark-v5">Log into your account to visualize your premium picks of the day </p>
            </div>

            <div class="row">
                <div class="col-lg-9">
                    <!-- Icon Blocks -->
                    <div class="media mb-4">
                        <div class="d-flex mr-3">
                            <span class="align-self-center u-icon-v1 u-icon-size--lg g-color-primary">
                                <i class=" icon-finance-033 u-line-icon-pro"></i>
                            </span>
                        </div>
                        <div class="media-body align-self-center">
                            <h3 class="h5">The best picks </h3>
                            <p class="g-color-gray-dark-v5 mb-0">For all mayor profesional sports</p>
                        </div>
                    </div>
                    <!-- End Icon Blocks -->

                    <!-- Icon Blocks -->
                    <div class="media mb-4">
                        <div class="d-flex mr-3">
                            <span class="align-self-center u-icon-v1 u-icon-size--lg g-color-primary">
                                <i class="icon-finance-193 u-line-icon-pro"></i>
                            </span>
                        </div>
                        <div class="media-body align-self-center">
                            <h3 class="h5">Hitting above 60%</h3>
                            <p class="g-color-gray-dark-v5 mb-0">Above average winning hits</p>
                        </div>
                    </div>
                    <!-- End Icon Blocks -->

                    <!-- Icon Blocks -->
                    <div class="media">
                        <div class="d-flex mr-3">
                            <span class="align-self-center u-icon-v1 u-icon-size--lg g-color-primary">
                                <i class="icon-finance-122 u-line-icon-pro"></i>
                            </span>
                        </div>
                        <div class="media-body align-self-center">
                            <h3 class="h5">Extensive research</h3>
                            <p class="g-color-gray-dark-v5 mb-0">On betting lines and odds to provide the insight you need</p>
                        </div>
                    </div>
                    <!-- End Icon Blocks -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Login -->