<div class="login-logo">
    <a [routerLink]="['/']">
        <img src="assets\img\logo\bmh-logo-220x250-01.png" alt="">
    </a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">

      <form [formGroup]="loginForm" (ngSubmit)="saveData()" role="form">
        <div class="input-group mb-3">
          <input type="email" class="form-control" placeholder="Email" formControlName="EMAIL">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Password" formControlName="CONTRASENA">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-12" *ngIf="error">
                <p class="text-danger" >Usuario y/o contraseña no valido</p>
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block" [disabled]="loginForm.invalid || false">Sign In</button>
            </div>
          <!-- /.col -->
        </div>
      </form>
    </div>
    <!-- /.login-card-body -->
  </div>