html {
    scroll-behavior: smooth;
}

a:focus,
a:hover {
    color: #fff;
}

/*hide hero arrows and dots
.ms-nav-next {
    display: none!important;
}
.ms-nav-prev{
    display: none!important;
}
.ms-bullets.ms-dir-h.ms-align-bottom{
    display: none!important;
}
*/
.u-header__section.u-header__section--dark.g-py-10 {
    z-index: 999;
}

/*loader style*/
#loading {
    /*background: url('../3-rotate-diamond-gif.gif') no-repeat center center;*/
    
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
    background-color: #eee;
}

#loading p {
    position: absolute;
    top: 70%;
    left: 45%;
    font-weight: 700;
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: 5px;
}
div#loading img {
    height: 200px;
    position: fixed;
    top: 43%;
    left: 41%;
    
}
a.btn.u-btn-primary.u-btn-content.g-font-weight-600.g-letter-spacing-0_5.text-uppercase.g-brd-2.g-mr-10.g-mb-15.btn-xxl.u-btn-blue.u-btn-content.g-letter-spacing-0_5.u-btn-3d.g-mr-10.g-mb-15 {
    margin-left: 10px;
}

/*NAV CTA GET PICKS */

a.btn.btn-md.g-brd-2.g-font-weight-600.g-letter-spacing-0_5.g-mb-15.g-mr-10.text-uppercase.u-btn-outline-gradient-v1 {

    width: 100%;
}

.g-brd-gray-light-v5 {
    border-color: #ddd !important;
}

/*nav logo*/


.u-btn-blue {
    color: #fff;
    background-color: #3c003c;
}

/*hero btn*/
.u-btn-outline-gradient-v1 {
    color: #fff;
}

/*pricing table*/

.pricing-table-wrapper {
    max-width: 71rem;
    margin: 0 auto;
}

.pricing-table {
    /*--pricing-table-color: hsl(219, 83%, 57%);*/
    --pricing-table-color: #4776E6;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
    grid-gap: 10px;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}

.pricing-table__item {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    background-color: #fff;
    padding: 0px;
    border-radius: 1.5em;
    /* box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
    -webkit-transition: box-shadow 200ms cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 200ms cubic-bezier(0.02, 0.01, 0.47, 1);*/
    transition: box-shadow 200ms cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 200ms cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: box-shadow 200ms cubic-bezier(0.02, 0.01, 0.47, 1), transform 200ms cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: box-shadow 200ms cubic-bezier(0.02, 0.01, 0.47, 1), transform 200ms cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 200ms cubic-bezier(0.02, 0.01, 0.47, 1);
}

.pricing-table__item:hover {
    /* box-shadow: 0 40px 40px rgba(0, 0, 0, 0.16);
    -webkit-transform: translate(0, -20px);*/
    transform: translate(0, -20px);
}

.pricing-table__item--popular {
    position: relative;
}

.pricing-table__item--popular::before {
    position: absolute;
    content: attr(data-popular);
    top: 5em;
    right: -1em;
    font-size: 1.2em;
    padding: .2em 1em;
    background-color: #ffcc00;
    border-radius: 1em;
    color: #470c38;
}

.pl-50 {
    padding-left: 50px;
}

.u-btn-outline-gradient-v1 {
    color: #555;
    background: transparent;
    -webkit-border-image: -webkit-gradient(linear, left top, right top, from(#700070), to(#8E54E9));
    -webkit-border-image: -webkit-linear-gradient(left, #700070 0%, #8E54E9 100%);
    -o-border-image: -o-linear-gradient(left, #4776E6 0%, #8E54E9 100%);
    border-image: -webkit-gradient(linear, left top, right top, from(#700070), to(#8E54E9));
    border-image: linear-gradient(to right, #700070 0%, #8E54E9 100%);
    border-image-slice: 1;
}

.u-btn-outline-gradient-v1:hover,
.u-btn-outline-gradient-v1:focus,
.u-btn-outline-gradient-v1.active {
    background: -webkit-gradient(linear, left top, right top, from(#700070), to(#8E54E9));
    background: -webkit-linear-gradient(left, #700070 0%, #8E54E9 100%);
    background: -o-linear-gradient(left, #4776E6 0%, #8E54E9 100%);
    background: linear-gradient(to right, #700070 0%, #8E54E9 100%);
    color: #fff;
}

.pricing-table__img {
    margin: 2.5em auto 4em;
    width: 100%;
    max-width: 9.3em;
}

.pricing-table__title {
    margin: 0;
    font-size: 1.7em;
    text-transform: capitalize;
}

.pricing-table__description {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 0 auto;
}

.pricing-table__tagline {
    margin: 0;
    color: #9ea0a3;
    text-align: center;
}

.pricing-table__price {
    color: #689d31;
    font-size: 2.5em;
    margin: 1em auto 0;
    font-weight: bold;
}

.pricing-table__label {
    margin: 0;
    color: #9ea0a3;
    font-size: .9em;
}

.pricing-table__save {
    color: #700070;
    font-weight: bold;
}

.pricing-table__products {
    margin: 1.87em 0;
    padding: 0;
    list-style-type: none;
    -webkit-box-flex: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
}

.pricing-table__product {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-weight: bold;
    margin-bottom: .5em;
}

.pricing-table__product a {
    text-decoration: none;
    color: inherit;
    -webkit-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

.pricing-table__product a:hover {
    color: var(--pricing-table-color);
}

.pricing-table__product::before {
    content: ' ';
    width: .5em;
    height: .5em;
    -webkit-margin-end: 1em;
    margin-inline-end: 1em;
    border-radius: 50%;
    background-color: var(--pricing-table-color);
}

.pricing-table__product--excluded::before {
    content: ' ';
    width: .5em;
    height: .5em;
    -webkit-margin-end: 1em;
    margin-inline-end: 1em;
    border-radius: 0;
    color: red;
    background: no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 20 20' id='entypo-cross' width='32' height='32' fill='hsl(4, 90%, 58%)'%3E%3Cg%3E%3Cpath d='M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z'/%3E%3C/g%3E%3C/svg%3E") center/contain;
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
}

.pricing-table__button {
    background: #a2cc5c;
    color: #fff;
    margin-top: auto;
    padding: 1em 2em;
    text-decoration: none;
    width: 100%;
    border-radius: 1.87em;
    text-align: center;
    -webkit-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out;
    text-transform: capitalize;
}

.pricing-table__button:hover {
    background-color: #689d31;
    text-decoration: none;
}


.out-2 {
    position: relative;
    top: -222px;
    left: 0;
}

.out-1 {
    position: absolute;
    top: 0px;
    left: 0px;
}

/*steps*/
.steps {
    position: relative;
}

.steps:before {
    top: 185px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 2px;
    background-color: #700070;
    left: 50%;
    margin-left: -1px;
}

.timeline {
    margin: 0px auto;
    overflow: hidden;
    position: relative;
    padding: 0px;
    list-style-type: none;
}

.timeline .timeline-box {
    position: relative;
    float: left;
    clear: left;
    width: 45%;
    margin: 1em 2.5%;
    list-style-type: none;
    display: block;
    padding: 25px;
    background: #f8f8f8;
    z-index: 15;
}

.timeline .timeline-box .timeline-title {
    color: #3c3c3c;
    font-weight: 700;
    font-size: 1em;
    float: left;
    padding-left: 25px;
    padding-top: 8px;
}

.timeline .timeline-box .timeline-details {
    clear: both;
    padding-top: 5px;
}

.timeline .timeline-box span {
    position: absolute;
    top: -15px;
    right: 24px;
    font-size: 8em;
    font-weight: 700;
    color: #700070;
    opacity: 0.1;
    z-index: -1;
}

@media all and (max-width: 600px) {
    .timeline .timeline-box {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

.timeline .timeline-box:hover:after {
    background: #700070;
}

@media all and (min-width: 650px) {
    .timeline .timeline-box:after {
        display: block;
        content: ' ';
        height: 9px;
        width: 9px;
        background: #fff;
        border-radius: 50%;
        position: absolute;
        right: -6.55%;
        top: 1.5em;
        border: 2px solid #700070;
    }
}

.timeline .timeline-box:first-child {
    margin-bottom: 2.5em;
}

.timeline .timeline-box:nth-of-type(1n):before {
    position: absolute;
    top: 15px;
    right: -10px;
    display: inline-block;
    border-top: 10px solid transparent;
    border-left: 10px solid #f8f8f8;
    border-right: 0 solid #f8f8f8;
    border-bottom: 10px solid transparent;
    content: " ";
}

.timeline .timeline-box:nth-of-type(2n) {
    float: right;
    clear: right;
}

.timeline .timeline-box:nth-of-type(2n):before {
    right: auto;
    left: -10px;
    position: absolute;
    top: 15px;
    display: inline-block;
    border-top: 10px solid transparent;
    border-right: 10px solid #f8f8f8;
    border-left: 0 solid #f8f8f8;
    border-bottom: 10px solid transparent;
    content: " ";
}

@media all and (min-width: 600px) {
    .timeline .timeline-box:nth-of-type(2n) {
        margin-top: 3em;
    }
}

.timeline .timeline-box:nth-child(2n):after {
    left: -6.5%;
    right: auto;
}

.timeline-box:hover,
.timeline-box:focus {
    transform: translate(0, -5px);
    -webkit-transform: translate(0, -5px);
    -ms-transform: translate(0, -5px);
}

.timeline-box:hover,
.timeline-box:focus {
    -webkit-box-shadow: 0px 3px 0px 0px #700070;
    -moz-box-shadow: 0px 3px 0px 0px #700070;
    box-shadow: 0px 3px 0px 0px #700070;
}

.timeline-box {
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.steps-area {
    padding: 90px 0;
}

/*new mockup and gif position one image on top of other*/
div#mobile-phone-box #mobile-phone-mockup {
    position: relative;
    left: 0;
    top: -120px;
    /*border: red solid 2px;*/
}

div#mobile-phone-box #mobile-phone-mockup img.mockup {
    /*border: pink solid 3px;*/
    position: relative;
    top: 0;
    left: 0;
    z-index: 999;
}

div#mobile-phone-box #mobile-phone-mockup img.pantallas {
    /*border: green solid 3px;*/
    position: absolute;
    top: 15px;
    left: 23px;
    height: 600px;
    width: 275px;
}

.pt-11rem {
    padding-top: 11.28571rem;
}

div#hero-text-box {
    padding: 50px 0px 0px 40px;
}

.u-btn-outline-gradient-v1 {
    color: #700070;
}

a.btn.btn-md.u-btn-3d.u-btn-darkpurple.g-mr-10.g-mb-15 {
    margin-left: 10px;
}

/*password recovery buton*/
.u-btn-primary:hover,
.u-btn-primary.active {
    border-color: #9a69cb;
    background-color: #9a69cb;
}
