<footer class="g-bg-white-opacity-0_9 g-color-black-opacity-0_8 text-center g-pt-60 g-pb-40">
    <!-- Footer Content -->
    <div class="container">
        <a class="d-block g-width-200  mx-auto g-mb-30" href="index.html">
            <img class="img-fluid" src="assets/img/logo/logo-450x600.png" alt="Logo">
        </a>
        <div class="g-width-70x--md mx-auto">
            <p class="mb-0">Hitting above 60% get the best picks of all mayor professional sports. <br>Choose the package that better fits your needs. <br>24 hour support chat included.</p>
        </div>
        <ul class="list-inline g-mb-20">
            <li class="list-inline-item g-mx-5">
                <a class="u-icon-v2 u-icon-size--sm g-font-size-16 g-color-black-opacity-0_8 g-color-white--hover g-bg-primary--hover g-brd-white-opacity-0_2 g-brd-primary--hover rounded-circle" href="https://www.instagram.com/bigmoneyhitters/" target="_blank">
                    <i class="fa fa-instagram"></i>
                </a>
            </li>

            <li class="list-inline-item g-mx-5">
                <a class="u-icon-v2 u-icon-size--sm g-font-size-16 g-color-black-opacity-0_8 g-color-white--hover g-bg-primary--hover g-brd-white-opacity-0_2 g-brd-primary--hover rounded-circle" href="https://play.google.com/store/apps/details?id=com.bigmoney.app" target="_blank">
                    <i class="fa fa-android"></i>
                </a>
            </li>
            <li class="list-inline-item g-mx-5">
                <a class="u-icon-v2 u-icon-size--sm g-font-size-16 g-color-black-opacity-0_8 g-color-white--hover g-bg-primary--hover g-brd-white-opacity-0_2 g-brd-primary--hover rounded-circle" href="https://apps.apple.com/mx/app/big-money-hitters/id1502285672" target="_blank">
                    <i class="fa fa-apple"></i>
                </a>
            </li>

        </ul>


    </div>
    <!-- End Footer Content -->

    <hr class="g-brd-black-opacity-0_2 g-my-40">

    <!-- Copyright -->
    <div class="container">
        <small class="g-font-size-default">2020 All right reserved. Website developed by <a class="g-color-primary" href="https://maindsoft.net/" target="_blank">Maindsoft.net</a>
        </small>
    </div>
    <!-- End Copyright -->
</footer>